<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nisiwa.project3.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.nisiwa.project3.bean.Comment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="news_id" jdbcType="INTEGER" property="newsId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pj3comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nisiwa.project3.bean.Comment">
    insert into pj3comment (id, created_date, content, 
      news_id, user_id)
    values (#{id,jdbcType=INTEGER}, #{createdDate,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR},
      #{newsId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nisiwa.project3.bean.Comment">
    update pj3comment
    set created_date = #{createdDate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      news_id = #{newsId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, created_date, content, news_id, user_id
    from pj3comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, created_date, content, news_id, user_id
    from pj3comment
  </select>

  <resultMap id="CommentVoResultMap" type="com.nisiwa.project3.VO.CommentVo">
    <association property="user" javaType="com.nisiwa.project3.bean.User" column="uid">
      <result column="uid" jdbcType="INTEGER" property="id" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="head_url" jdbcType="VARCHAR" property="headUrl" />
    </association>
    <association property="comment" javaType="com.nisiwa.project3.bean.Comment" column="cid">
      <result column="cid" jdbcType="INTEGER" property="id" />
      <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
      <result column="content" jdbcType="VARCHAR" property="content" />
    </association>
  </resultMap>
  <select id="queryAllCommentsByNewsId" resultMap="CommentVoResultMap">
    select u.id as uid, u.name, u.head_url, c.id as cid, c.content, c.created_date
    from pj3news n
    left JOIN pj3comment c on c.news_id=n.id
    LEFT JOIN pj3user u on  c.user_id= u.id
    where n.id = #{newsId}
  </select>
</mapper>