<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nisiwa.project3.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.nisiwa.project3.bean.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="head_url" jdbcType="VARCHAR" property="headUrl" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pj3user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nisiwa.project3.bean.User" useGeneratedKeys="true" keyProperty="id">
    insert into pj3user (id, name, password, 
      salt, head_url)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{headUrl,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nisiwa.project3.bean.User">
    update pj3user
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      head_url = #{headUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, password, salt, head_url
    from pj3user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByName" resultMap="BaseResultMap">
    select id, name, password, salt, head_url
    from pj3user
    where name = #{name}
  </select>

  <select id="selectByNamePwd" resultMap="BaseResultMap">
    select id, name, password, salt, head_url
    from pj3user
    where name = #{username} and password=#{password}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, password, salt, head_url
    from pj3user
  </select>
</mapper>